.banner {
    width: 100%;
}

body {
    margin: 0px;
    font-family: "CMU Serif";
}

.header {
    font-family: "Helvetica";
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 80pt;
    font-weight: bold;
}

.title {
    font-size: 90pt;
    /*padding-bottom: 300px*/
    font-weight: bolder;
}

.small-light {
    height: 70px;
    width: 40px;
    padding-bottom: 30px;
}

.binNumber {
    font-size: 40pt;
    margin-left: 20px;
}

.bin-row {
}

.btn {
    font-family: Helvetica;
}

.cell-num {
    text-align: center;
    width: 50px;
    /*border: 1px solid black;*/
      display: inline-block;
    margin: 0px;
    padding: 0px;
}

.carry-num {
    color: white;
    cursor: pointer;
    /*visibility: hidden;*/
}

.bin-num-marker {
     font-size: 25pt;
     font-family: "Helvetica";
     margin-left: 20px;
     font-style: italic;
}