.banner {
    width: 100%;
}

body {
    margin: 0px;
    font-family: "CMU Serif";
}

.header {
    font-family: "Helvetica";
    margin-top: 100px;
    text-align: center;
    font-size: 80pt;
    font-weight: bold;
}

.small-light {
    height: 40px;
    width: 40px;
}

.binNumber {
    font-size: 40pt;
    margin-left: 20px;
}

.bin-row {
}